<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="com.andersonrosa.ipetapp"
    >

    <name>iPet</name>

    <description>
        iPet, encontre qualquer petshop e promoções a sua volta
    </description>

    <author href="http://andersonprojetos.esy.es"  
        email="anderson.rosa28@gmail.com"> Anderson Rosa
    </author>

    <icon src="icon.jpg" />
   <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.jpg" />


    <!-- travar a orientação -->
    <preference name="orientation" value="portrait" />

    <!-- indicar que nossa App deve rodar em modo tela cheia, sem a barra de status no topo.-->
    <preference name="fullscreen" value="true" />

    <!-- Outra opção simples é configurar as permissões da App. Por padrão, o Build gera uma App que pede muitas permissões, justo pensando em uma App com muitas capacidades. Como nossa App não é nada especial ainda, podemos usar:-->
     <preference name="permissions" value="none" />

     <platform name="android" />
</widget>